In [1]:
import pandas as pd
import numpy as np
import getpass
import json
import openpyxl
import yfinance as yf
from urllib.request import urlopen
import FinanceDataReader as fdr

In [84]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\ts770\appdata\local\programs\python\python310\lib\site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in c:\users\ts770\appdata\local\programs\python\python310\lib\site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
# 종목코드
stock_code ="";

stock_file = pd.read_excel('/Users/ts770/Desktop/종목전체검색.xlsx')
stock_file

       Code      Name     b1        b2
0     44380      주연테크     IT      하드웨어
1     97520      엠씨넥스     IT      하드웨어
2     92220      케이이씨     IT       반도체
3    336260  두산퓨얼셀보통주     IT      하드웨어
4    286940    롯데정보통신     IT     소프트웨어
..      ...       ...    ...       ...
795    3350   한국화장품제조  필수소비재      생활용품
796    5740  크라운해태홀딩스  필수소비재  음식료 및 담배
797   78520    에이블씨엔씨  필수소비재      생활용품
798   49770    동원에프앤비  필수소비재  음식료 및 담배
799    1130      대한제분  필수소비재  음식료 및 담배

[800 rows x 4 columns]

In [3]:
name = input("가지고 있는 종목을 입력하세요.")

가지고 있는 종목을 입력하세요.덴티움

In [4]:
B1=stock_file.loc[stock_file.Name == name, ['b1']]
list = B1['b1'].values.tolist()

print(list)
list

['의료']

['의료']

In [5]:
    if list[0] == 'IT': 
        list_mid = ['디스플레이', '반도체', '소프트웨어', '하드웨어']
        stock = pd.read_excel('/Users/ts770/Desktop/result_IT.xlsx')

    elif list[0] == '경기소비재':
        list_mid = ['내구 소비재 및 의류', '미디어', '소비자 서비스', '유통', '자동차 및 부품']
        stock = pd.read_excel('/Users/ts770/Desktop/result_com.xlsx')

    elif list[0] == '금융':
        list_mid = ['기타금융', '보험', '부동산', '은행', '증권']
        stock = pd.read_excel('/Users/ts770/Desktop/result_bank.xlsx')

    elif list[0] == '산업재':
        list_mid = ['상업서비스', '운송', '자본재']
        stock = pd.read_excel('/Users/ts770/Desktop/result_industrial.xlsx')

    elif list[0] == '소재':
        list_mid = ['소재']
        stock = pd.read_excel('/Users/ts770/Desktop/result_Material.xlsx')

    elif list[0] == '에너지':
        list_mid = ['에너지']
        stock= pd.read_excel('/Users/ts770/Desktop/result_energy.xlsx')

    elif list[0] == '유틸리티':
        list_mid = ['유틸리티']
        stock = pd.read_excel('/Users/ts770/Desktop/result_utility.xlsx')

    elif list[0] == '의료':
        list_mid = ['의료장비 및 서비스','제약 및 바이오']
        stock = pd.read_excel('/Users/ts770/Desktop/result_medical.xlsx')

    else:
        list_mid = ['생활용품', '음식료 및 담배']
        stock= pd.read_excel('/Users/ts770/Desktop/result_pricom.xlsx')

In [6]:
# 종목코드가 6자리이기 때문에 6자리를 맞춰주기 위해 설정해줌 
stock.Code = stock.Code.map('{:06d}'.format) #6자리가 아닌 수를 앞에 0으로 채우기 위함

In [7]:
stock

      Code            Name  b1          b2
0   372910         한컴라이프케어  의료  의료장비 및 서비스
1   145720             덴티움  의료  의료장비 및 서비스
2   137310        에스디바이오센서  의료  의료장비 및 서비스
3   004080              신흥  의료  의료장비 및 서비스
4   003090              대웅  의료    제약 및 바이오
5   004310            현대약품  의료    제약 및 바이오
6   170900           동아에스티  의료    제약 및 바이오
7   069620            대웅제약  의료    제약 및 바이오
8   000100            유한양행  의료    제약 및 바이오
9   326030          SK바이오팜  의료    제약 및 바이오
10  003120            일성신약  의료    제약 및 바이오
11  002720            국제약품  의료    제약 및 바이오
12  102460            이연제약  의료    제약 및 바이오
13  001060       제이더블유중외제약  의료    제약 및 바이오
14  008930          한미사이언스  의료    제약 및 바이오
15  096760        제이더블유홀딩스  의료    제약 및 바이오
16  003850              보령  의료    제약 및 바이오
17  005690             파미셀  의료    제약 및 바이오
18  002210            동성제약  의료    제약 및 바이오
19  000640        동아쏘시오홀딩스  의료    제약 및 바이오
20  950210  프레스티지바이오파마 KDR  의료    제약 및 바이오
21  271980        제일약품(신설)  의료    제약 및 바이오
22  005250          녹십자홀딩스  의료    제약 및 바이오
23  009420         한올바이오파마  의료    제약 및 바이오
24  001360            삼성제약  의료    제약 및 바이오
25  003220            대원제약  의료    제약 및 바이오
26  000520            삼일제약  의료    제약 및 바이오
27  249420            일동제약  의료    제약 및 바이오
28  009290            광동제약  의료    제약 및 바이오
29  207940        삼성바이오로직스  의료    제약 및 바이오
30  003520            영진약품  의료    제약 및 바이오
31  000230           일동홀딩스  의료    제약 및 바이오
32  011000          진원생명과학  의료    제약 및 바이오
33  002390              한독  의료    제약 및 바이오
34  008490              서흥  의료    제약 및 바이오
35  005500            삼진제약  의료    제약 및 바이오
36  003060         에이프로젠제약  의료    제약 및 바이오
37  003000            부광약품  의료    제약 및 바이오
38  293480            하나제약  의료    제약 및 바이오
39  001630          종근당홀딩스  의료    제약 및 바이오
40  128940            한미약품  의료    제약 및 바이오
41  033270       한국유나이티드제약  의료    제약 및 바이오
42  063160          종근당바이오  의료    제약 및 바이오
43  302440     에스케이바이오사이언스  의료    제약 및 바이오
44  185750             종근당  의료    제약 및 바이오
45  002620         제일파마홀딩스  의료    제약 및 바이오
46  000020            동화약품  의료    제약 및 바이오
47  006280             녹십자  의료    제약 및 바이오
48  002630         오리엔트바이오  의료    제약 및 바이오
49  007570            일양약품  의료    제약 및 바이오
50  017180            명문제약  의료    제약 및 바이오
51  234080       제이더블유생명과학  의료    제약 및 바이오
52  068270            셀트리온  의료    제약 및 바이오
53  019170            신풍제약  의료    제약 및 바이오
54  004720          팜젠사이언스  의료    제약 및 바이오
55  000220            유유제약  의료    제약 및 바이오
56  214390            경보제약  의료    제약 및 바이오
57  016580            환인제약  의료    제약 및 바이오

In [8]:
# 한국거래소에 상장된 모든 종목 리스트 가져오기
import FinanceDataReader as fdr

df_krx = fdr.StockListing('KRX')

In [9]:
from datetime import date, timedelta
import datetime
#어제, 오늘 날짜를 간단히 구하는 방법
today = date.today()
yesterday = date.today() - timedelta(1)
 

end= today.strftime('%Y-%m-%d')
start= yesterday.strftime('%Y-%m-%d')

print(start)
print(end)

2022-11-15
2022-11-16

In [10]:
#변동성 계산
def cal_vix(open1, High, Low):

    vix = open1 +(High-Low)*0.5
    
    return vix

In [11]:
#종목명
stock_name = stock["Name"]
stock_name

0            한컴라이프케어
1                덴티움
2           에스디바이오센서
3                 신흥
4                 대웅
5               현대약품
6              동아에스티
7               대웅제약
8               유한양행
9             SK바이오팜
10              일성신약
11              국제약품
12              이연제약
13         제이더블유중외제약
14            한미사이언스
15          제이더블유홀딩스
16                보령
17               파미셀
18              동성제약
19          동아쏘시오홀딩스
20    프레스티지바이오파마 KDR
21          제일약품(신설)
22            녹십자홀딩스
23           한올바이오파마
24              삼성제약
25              대원제약
26              삼일제약
27              일동제약
28              광동제약
29          삼성바이오로직스
30              영진약품
31             일동홀딩스
32            진원생명과학
33                한독
34                서흥
35              삼진제약
36           에이프로젠제약
37              부광약품
38              하나제약
39            종근당홀딩스
40              한미약품
41         한국유나이티드제약
42            종근당바이오
43       에스케이바이오사이언스
44               종근당
45           제일파마홀딩스
46              동화약품
47               녹십자
48           오리엔트바이오
49              일양약품
50              명문제약
51         제이더블유생명과학
52              셀트리온
53              신풍제약
54            팜젠사이언스
55              유유제약
56              경보제약
57              환인제약
Name: Name, dtype: object

In [12]:
#대분류한 종목 코드 열 추출
stock_c = stock["Code"]

In [13]:
#종목 명 열 추출 한것 리스트로 변환
stock_clist = stock_c.values.tolist()

In [14]:
#종목 코드 열 추출 한것 리스트로 변환
stock_name_list = stock_name.values.tolist()
stock_name_list

['한컴라이프케어',
 '덴티움',
 '에스디바이오센서',
 '신흥',
 '대웅',
 '현대약품',
 '동아에스티',
 '대웅제약',
 '유한양행',
 'SK바이오팜',
 '일성신약',
 '국제약품',
 '이연제약',
 '제이더블유중외제약',
 '한미사이언스',
 '제이더블유홀딩스',
 '보령',
 '파미셀',
 '동성제약',
 '동아쏘시오홀딩스',
 '프레스티지바이오파마 KDR',
 '제일약품(신설)',
 '녹십자홀딩스',
 '한올바이오파마',
 '삼성제약',
 '대원제약',
 '삼일제약',
 '일동제약',
 '광동제약',
 '삼성바이오로직스',
 '영진약품',
 '일동홀딩스',
 '진원생명과학',
 '한독',
 '서흥',
 '삼진제약',
 '에이프로젠제약',
 '부광약품',
 '하나제약',
 '종근당홀딩스',
 '한미약품',
 '한국유나이티드제약',
 '종근당바이오',
 '에스케이바이오사이언스',
 '종근당',
 '제일파마홀딩스',
 '동화약품',
 '녹십자',
 '오리엔트바이오',
 '일양약품',
 '명문제약',
 '제이더블유생명과학',
 '셀트리온',
 '신풍제약',
 '팜젠사이언스',
 '유유제약',
 '경보제약',
 '환인제약']

In [15]:
#대분류한 중분류  열 추출
stock_b2 = stock["b2"]

In [16]:
#종목 코드 열 추출 한것 리스트로 변환
stock_b2_list = stock_b2.values.tolist()

In [17]:
    item_list=[]#시가,고가,종가 출력하는 코드
    for item_code in stock_clist:
        data_price = fdr.DataReader(str(item_code), start, end)
        item_list.append(data_price)
   #print(item_code)

In [18]:
#전날, 당일 추출 
OpenP_all_list=[]
OpenH_all_list=[]
OpenL_all_list=[]
for i in range(len(item_list)):
        #시가
        stock_open = item_list[i].Open
        print(stock_open)
        OpenP_all_list.append(stock_open)
        #고가
        stock_High = item_list[i].High
        print(stock_High)
        OpenH_all_list.append(stock_High)
        #저가
        stock_Low = item_list[i].Low
        print(stock_Low)
        OpenL_all_list.append(stock_Low)

Date
2022-11-15    6020
2022-11-16    6210
Name: Open, dtype: int64
Date
2022-11-15    6090
2022-11-16    6500
Name: High, dtype: int64
Date
2022-11-15    5910
2022-11-16    5930
Name: Low, dtype: int64
Date
2022-11-15    79200
2022-11-16    79500
Name: Open, dtype: int64
Date
2022-11-15    80900
2022-11-16    82000
Name: High, dtype: int64
Date
2022-11-15    77900
2022-11-16    79200
Name: Low, dtype: int64
Date
2022-11-15    35050
2022-11-16    35650
Name: Open, dtype: int64
Date
2022-11-15    35400
2022-11-16    36050
Name: High, dtype: int64
Date
2022-11-15    34450
2022-11-16    34100
Name: Low, dtype: int64
Date
2022-11-15    14900
2022-11-16    14950
Name: Open, dtype: int64
Date
2022-11-15    15000
2022-11-16    15000
Name: High, dtype: int64
Date
2022-11-15    14850
2022-11-16    14850
Name: Low, dtype: int64
Date
2022-11-15    21200
2022-11-16    21850
Name: Open, dtype: int64
Date
2022-11-15    21950
2022-11-16    21950
Name: High, dtype: int64
Date
2022-11-15    21150
2022-11-16    21150
Name: Low, dtype: int64
Date
2022-11-15    5140
2022-11-16    5220
Name: Open, dtype: int64
Date
2022-11-15    5300
2022-11-16    5270
Name: High, dtype: int64
Date
2022-11-15    5080
2022-11-16    5110
Name: Low, dtype: int64
Date
2022-11-15    60200
2022-11-16    61100
Name: Open, dtype: int64
Date
2022-11-15    61300
2022-11-16    61500
Name: High, dtype: int64
Date
2022-11-15    60100
2022-11-16    60500
Name: Low, dtype: int64
Date
2022-11-15    156000
2022-11-16    156000
Name: Open, dtype: int64
Date
2022-11-15    156500
2022-11-16    156000
Name: High, dtype: int64
Date
2022-11-15    153000
2022-11-16    151000
Name: Low, dtype: int64
Date
2022-11-15    58300
2022-11-16    59400
Name: Open, dtype: int64
Date
2022-11-15    59500
2022-11-16    59700
Name: High, dtype: int64
Date
2022-11-15    58000
2022-11-16    58700
Name: Low, dtype: int64
Date
2022-11-15    71200
2022-11-16    76800
Name: Open, dtype: int64
Date
2022-11-15    75800
2022-11-16    76900
Name: High, dtype: int64
Date
2022-11-15    71100
2022-11-16    74600
Name: Low, dtype: int64
Date
2022-11-15    99200
2022-11-16    99000
Name: Open, dtype: int64
Date
2022-11-15    101000
2022-11-16     99000
Name: High, dtype: int64
Date
2022-11-15    98100
2022-11-16    96900
Name: Low, dtype: int64
Date
2022-11-15    4465
2022-11-16    4600
Name: Open, dtype: int64
Date
2022-11-15    4590
2022-11-16    4600
Name: High, dtype: int64
Date
2022-11-15    4430
2022-11-16    4465
Name: Low, dtype: int64
Date
2022-11-15    20650
2022-11-16    22100
Name: Open, dtype: int64
Date
2022-11-15    22050
2022-11-16    22150
Name: High, dtype: int64
Date
2022-11-15    20600
2022-11-16    21050
Name: Low, dtype: int64
Date
2022-11-15    20000
2022-11-16    20550
Name: Open, dtype: int64
Date
2022-11-15    21000
2022-11-16    20800
Name: High, dtype: int64
Date
2022-11-15    19900
2022-11-16    20300
Name: Low, dtype: int64
Date
2022-11-15    34300
2022-11-16    35000
Name: Open, dtype: int64
Date
2022-11-15    34850
2022-11-16    36150
Name: High, dtype: int64
Date
2022-11-15    34150
2022-11-16    34200
Name: Low, dtype: int64
Date
2022-11-15    2860
2022-11-16    2940
Name: Open, dtype: int64
Date
2022-11-15    2950
2022-11-16    2990
Name: High, dtype: int64
Date
2022-11-15    2860
2022-11-16    2935
Name: Low, dtype: int64
Date
2022-11-15    10650
2022-11-16    10950
Name: Open, dtype: int64
Date
2022-11-15    10950
2022-11-16    11000
Name: High, dtype: int64
Date
2022-11-15    10650
2022-11-16    10750
Name: Low, dtype: int64
Date
2022-11-15    10500
2022-11-16    11050
Name: Open, dtype: int64
Date
2022-11-15    10900
2022-11-16    11050
Name: High, dtype: int64
Date
2022-11-15    10500
2022-11-16    10500
Name: Low, dtype: int64
Date
2022-11-15    6640
2022-11-16    6770
Name: Open, dtype: int64
Date
2022-11-15    6910
2022-11-16    6860
Name: High, dtype: int64
Date
2022-11-15    6640
2022-11-16    6640
Name: Low, dtype: int64
Date
2022-11-15    101500
2022-11-16    102500
Name: Open, dtype: int64
Date
2022-11-15    102500
2022-11-16    102500
Name: High, dtype: int64
Date
2022-11-15    101000
2022-11-16    101500
Name: Low, dtype: int64
Date
2022-11-15    8360
2022-11-16    8750
Name: Open, dtype: int64
Date
2022-11-15    8650
2022-11-16    8790
Name: High, dtype: int64
Date
2022-11-15    8330
2022-11-16    8450
Name: Low, dtype: int64
Date
2022-11-15    19150
2022-11-16    19750
Name: Open, dtype: int64
Date
2022-11-15    19900
2022-11-16    19750
Name: High, dtype: int64
Date
2022-11-15    19100
2022-11-16    19100
Name: Low, dtype: int64
Date
2022-11-15    17550
2022-11-16    18250
Name: Open, dtype: int64
Date
2022-11-15    18500
2022-11-16    18550
Name: High, dtype: int64
Date
2022-11-15    17550
2022-11-16    17650
Name: Low, dtype: int64
Date
2022-11-15    14450
2022-11-16    15100
Name: Open, dtype: int64
Date
2022-11-15    15000
2022-11-16    15100
Name: High, dtype: int64
Date
2022-11-15    14350
2022-11-16    14600
Name: Low, dtype: int64
Date
2022-11-15    2985
2022-11-16    3065
Name: Open, dtype: int64
Date
2022-11-15    3075
2022-11-16    3090
Name: High, dtype: int64
Date
2022-11-15    2975
2022-11-16    2970
Name: Low, dtype: int64
Date
2022-11-15    17700
2022-11-16    18100
Name: Open, dtype: int64
Date
2022-11-15    18150
2022-11-16    18100
Name: High, dtype: int64
Date
2022-11-15    17700
2022-11-16    17600
Name: Low, dtype: int64
Date
2022-11-15    8070
2022-11-16    8110
Name: Open, dtype: int64
Date
2022-11-15    8150
2022-11-16    8230
Name: High, dtype: int64
Date
2022-11-15    7950
2022-11-16    7980
Name: Low, dtype: int64
Date
2022-11-15    33100
2022-11-16    41500
Name: Open, dtype: int64
Date
2022-11-15    40000
2022-11-16    42100
Name: High, dtype: int64
Date
2022-11-15    32850
2022-11-16    39350
Name: Low, dtype: int64
Date
2022-11-15    6150
2022-11-16    6290
Name: Open, dtype: int64
Date
2022-11-15    6300
2022-11-16    6300
Name: High, dtype: int64
Date
2022-11-15    6150
2022-11-16    6160
Name: Low, dtype: int64
Date
2022-11-15    909000
2022-11-16    906000
Name: Open, dtype: int64
Date
2022-11-15    910000
2022-11-16    907000
Name: High, dtype: int64
Date
2022-11-15    901000
2022-11-16    874000
Name: Low, dtype: int64
Date
2022-11-15    2830
2022-11-16    2920
Name: Open, dtype: int64
Date
2022-11-15    2915
2022-11-16    2935
Name: High, dtype: int64
Date
2022-11-15    2825
2022-11-16    2860
Name: Low, dtype: int64
Date
2022-11-15    28300
2022-11-16    36050
Name: Open, dtype: int64
Date
2022-11-15    33950
2022-11-16    36900
Name: High, dtype: int64
Date
2022-11-15    27850
2022-11-16    34250
Name: Low, dtype: int64
Date
2022-11-15    8000
2022-11-16    8430
Name: Open, dtype: int64
Date
2022-11-15    8300
2022-11-16    8430
Name: High, dtype: int64
Date
2022-11-15    7900
2022-11-16    8010
Name: Low, dtype: int64
Date
2022-11-15    16800
2022-11-16    16950
Name: Open, dtype: int64
Date
2022-11-15    16950
2022-11-16    17000
Name: High, dtype: int64
Date
2022-11-15    16750
2022-11-16    16750
Name: Low, dtype: int64
Date
2022-11-15    34800
2022-11-16    35600
Name: Open, dtype: int64
Date
2022-11-15    35550
2022-11-16    35600
Name: High, dtype: int64
Date
2022-11-15    34700
2022-11-16    34450
Name: Low, dtype: int64
Date
2022-11-15    25750
2022-11-16    26200
Name: Open, dtype: int64
Date
2022-11-15    26450
2022-11-16    26300
Name: High, dtype: int64
Date
2022-11-15    25600
2022-11-16    25550
Name: Low, dtype: int64
Date
2022-11-15    525
2022-11-16    506
Name: Open, dtype: int64
Date
2022-11-15    532
2022-11-16    510
Name: High, dtype: int64
Date
2022-11-15    492
2022-11-16    498
Name: Low, dtype: int64
Date
2022-11-15    8050
2022-11-16    8390
Name: Open, dtype: int64
Date
2022-11-15    8390
2022-11-16    8450
Name: High, dtype: int64
Date
2022-11-15    8050
2022-11-16    8210
Name: Low, dtype: int64
Date
2022-11-15    14950
2022-11-16    15250
Name: Open, dtype: int64
Date
2022-11-15    15350
2022-11-16    15250
Name: High, dtype: int64
Date
2022-11-15    14800
2022-11-16    14850
Name: Low, dtype: int64
Date
2022-11-15    54000
2022-11-16    54800
Name: Open, dtype: int64
Date
2022-11-15    55600
2022-11-16    55600
Name: High, dtype: int64
Date
2022-11-15    53800
2022-11-16    54400
Name: Low, dtype: int64
Date
2022-11-15    267000
2022-11-16    272500
Name: Open, dtype: int64
Date
2022-11-15    272000
2022-11-16    272500
Name: High, dtype: int64
Date
2022-11-15    263000
2022-11-16    264000
Name: Low, dtype: int64
Date
2022-11-15    26000
2022-11-16    26250
Name: Open, dtype: int64
Date
2022-11-15    26650
2022-11-16    26500
Name: High, dtype: int64
Date
2022-11-15    25950
2022-11-16    25900
Name: Low, dtype: int64
Date
2022-11-15    23600
2022-11-16    24700
Name: Open, dtype: int64
Date
2022-11-15    24950
2022-11-16    24700
Name: High, dtype: int64
Date
2022-11-15    23400
2022-11-16    23850
Name: Low, dtype: int64
Date
2022-11-15     95300
2022-11-16    102500
Name: Open, dtype: int64
Date
2022-11-15     99800
2022-11-16    104000
Name: High, dtype: int64
Date
2022-11-15    95200
2022-11-16    96500
Name: Low, dtype: int64
Date
2022-11-15    86900
2022-11-16    90200
Name: Open, dtype: int64
Date
2022-11-15    89100
2022-11-16    90200
Name: High, dtype: int64
Date
2022-11-15    86400
2022-11-16    87900
Name: Low, dtype: int64
Date
2022-11-15    10300
2022-11-16    10500
Name: Open, dtype: int64
Date
2022-11-15    10400
2022-11-16    10500
Name: High, dtype: int64
Date
2022-11-15    10250
2022-11-16    10200
Name: Low, dtype: int64
Date
2022-11-15    9200
2022-11-16    9600
Name: Open, dtype: int64
Date
2022-11-15    9560
2022-11-16    9610
Name: High, dtype: int64
Date
2022-11-15    9190
2022-11-16    9360
Name: Low, dtype: int64
Date
2022-11-15    134500
2022-11-16    145000
Name: Open, dtype: int64
Date
2022-11-15    145000
2022-11-16    145000
Name: High, dtype: int64
Date
2022-11-15    134000
2022-11-16    136500
Name: Low, dtype: int64
Date
2022-11-15    637
2022-11-16    655
Name: Open, dtype: int64
Date
2022-11-15    656
2022-11-16    659
Name: High, dtype: int64
Date
2022-11-15    637
2022-11-16    639
Name: Low, dtype: int64
Date
2022-11-15    18700
2022-11-16    19300
Name: Open, dtype: int64
Date
2022-11-15    19300
2022-11-16    19350
Name: High, dtype: int64
Date
2022-11-15    18600
2022-11-16    18800
Name: Low, dtype: int64
Date
2022-11-15    2625
2022-11-16    2665
Name: Open, dtype: int64
Date
2022-11-15    2670
2022-11-16    2715
Name: High, dtype: int64
Date
2022-11-15    2585
2022-11-16    2655
Name: Low, dtype: int64

Date
2022-11-15    12300
2022-11-16    12400
Name: Open, dtype: int64
Date
2022-11-15    12350
2022-11-16    12400
Name: High, dtype: int64
Date
2022-11-15    12050
2022-11-16    12100
Name: Low, dtype: int64
Date
2022-11-15    186500
2022-11-16    188500
Name: Open, dtype: int64
Date
2022-11-15    189000
2022-11-16    190000
Name: High, dtype: int64
Date
2022-11-15    185000
2022-11-16    178500
Name: Low, dtype: int64
Date
2022-11-15    27600
2022-11-16    30600
Name: Open, dtype: int64
Date
2022-11-15    32000
2022-11-16    31400
Name: High, dtype: int64
Date
2022-11-15    27050
2022-11-16    28300
Name: Low, dtype: int64
Date
2022-11-15    7450
2022-11-16    7700
Name: Open, dtype: int64
Date
2022-11-15    7640
2022-11-16    7700
Name: High, dtype: int64
Date
2022-11-15    7360
2022-11-16    7260
Name: Low, dtype: int64
Date
2022-11-15    6200
2022-11-16    6360
Name: Open, dtype: int64
Date
2022-11-15    6390
2022-11-16    6420
Name: High, dtype: int64
Date
2022-11-15    6170
2022-11-16    6300
Name: Low, dtype: int64
Date
2022-11-15    6120
2022-11-16    6280
Name: Open, dtype: int64
Date
2022-11-15    6300
2022-11-16    6300
Name: High, dtype: int64
Date
2022-11-15    6100
2022-11-16    6210
Name: Low, dtype: int64
Date
2022-11-15    17550
2022-11-16    17550
Name: Open, dtype: int64
Date
2022-11-15    17600
2022-11-16    17600
Name: High, dtype: int64
Date
2022-11-15    17400
2022-11-16    17450
Name: Low, dtype: int64

In [19]:
#당일시가 추출
OpenP_list=[]
for i in range(len(item_list)):
    OpenP = OpenP_all_list[i][1]
    OpenP_list.append(OpenP)
    #print(OpenP)
#전날 고가 추출
OpenH_list=[]
for i in range(len(item_list)):
    OpenH = OpenH_all_list[i][0]
    OpenH_list.append(OpenH)
    #print(OpenP)
#전날 저가 추출
OpenL_list=[]
for i in range(len(item_list)):
    OpenL = OpenL_all_list[i][0]
    OpenL_list.append(OpenL)
    #print(OpenP)

In [20]:
OpenP_list=[]
OpenH_list=[]
OpenL_list=[]
vix_list=[]
for i in range(len(item_list)):
    #당일시가 추출
    OpenP = OpenP_all_list[i][1]
    OpenP_list.append(OpenP)
    #전날 고가 추출
    OpenH = OpenH_all_list[i][0]
    OpenH_list.append(OpenH)
    #전날 저가 추출
    OpenL = OpenL_all_list[i][0]
    OpenL_list.append(OpenL)
    Vix = cal_vix(OpenP_list[i], OpenH_list[i], OpenL_list[i])
    #print(Vix)
    vix_list.append(Vix)

In [21]:
#중분류, 변동성 매칭
vix_b2_list=[]
for i in range(len(stock_c)):
    list = [stock_name_list[i],vix_list[i], stock_b2_list[i]]
    vix_b2_list.append(list)

In [22]:
vix_b2_list

[['한컴라이프케어', 6300.0, '의료장비 및 서비스'],
 ['덴티움', 81000.0, '의료장비 및 서비스'],
 ['에스디바이오센서', 36125.0, '의료장비 및 서비스'],
 ['신흥', 15025.0, '의료장비 및 서비스'],
 ['대웅', 22250.0, '제약 및 바이오'],
 ['현대약품', 5330.0, '제약 및 바이오'],
 ['동아에스티', 61700.0, '제약 및 바이오'],
 ['대웅제약', 157750.0, '제약 및 바이오'],
 ['유한양행', 60150.0, '제약 및 바이오'],
 ['SK바이오팜', 79150.0, '제약 및 바이오'],
 ['일성신약', 100450.0, '제약 및 바이오'],
 ['국제약품', 4680.0, '제약 및 바이오'],
 ['이연제약', 22825.0, '제약 및 바이오'],
 ['제이더블유중외제약', 21100.0, '제약 및 바이오'],
 ['한미사이언스', 35350.0, '제약 및 바이오'],
 ['제이더블유홀딩스', 2985.0, '제약 및 바이오'],
 ['보령', 11100.0, '제약 및 바이오'],
 ['파미셀', 11250.0, '제약 및 바이오'],
 ['동성제약', 6905.0, '제약 및 바이오'],
 ['동아쏘시오홀딩스', 103250.0, '제약 및 바이오'],
 ['프레스티지바이오파마 KDR', 8910.0, '제약 및 바이오'],
 ['제일약품(신설)', 20150.0, '제약 및 바이오'],
 ['녹십자홀딩스', 18725.0, '제약 및 바이오'],
 ['한올바이오파마', 15425.0, '제약 및 바이오'],
 ['삼성제약', 3115.0, '제약 및 바이오'],
 ['대원제약', 18325.0, '제약 및 바이오'],
 ['삼일제약', 8210.0, '제약 및 바이오'],
 ['일동제약', 45075.0, '제약 및 바이오'],
 ['광동제약', 6365.0, '제약 및 바이오'],
 ['삼성바이오로직스', 910500.0, '제약 및 바이오'],
 ['영진약품', 2965.0, '제약 및 바이오'],
 ['일동홀딩스', 39100.0, '제약 및 바이오'],
 ['진원생명과학', 8630.0, '제약 및 바이오'],
 ['한독', 17050.0, '제약 및 바이오'],
 ['서흥', 36025.0, '제약 및 바이오'],
 ['삼진제약', 26625.0, '제약 및 바이오'],
 ['에이프로젠제약', 526.0, '제약 및 바이오'],
 ['부광약품', 8560.0, '제약 및 바이오'],
 ['하나제약', 15525.0, '제약 및 바이오'],
 ['종근당홀딩스', 55700.0, '제약 및 바이오'],
 ['한미약품', 277000.0, '제약 및 바이오'],
 ['한국유나이티드제약', 26600.0, '제약 및 바이오'],
 ['종근당바이오', 25475.0, '제약 및 바이오'],
 ['에스케이바이오사이언스', 104800.0, '제약 및 바이오'],
 ['종근당', 91550.0, '제약 및 바이오'],
 ['제일파마홀딩스', 10575.0, '제약 및 바이오'],
 ['동화약품', 9785.0, '제약 및 바이오'],
 ['녹십자', 150500.0, '제약 및 바이오'],
 ['오리엔트바이오', 664.5, '제약 및 바이오'],
 ['일양약품', 19650.0, '제약 및 바이오'],
 ['명문제약', 2707.5, '제약 및 바이오'],
 ['제이더블유생명과학', 12550.0, '제약 및 바이오'],
 ['셀트리온', 190500.0, '제약 및 바이오'],
 ['신풍제약', 33075.0, '제약 및 바이오'],
 ['팜젠사이언스', 7840.0, '제약 및 바이오'],
 ['유유제약', 6470.0, '제약 및 바이오'],
 ['경보제약', 6380.0, '제약 및 바이오'],
 ['환인제약', 17650.0, '제약 및 바이오']]

In [23]:
vix_b2_list[0][2]

'의료장비 및 서비스'

In [24]:
dis_list_0 = []
dis_list_1 = []
dis_list_2 = []
dis_list_3 = []
dis_list_4 = []

for i in range(len(list_mid)):
    for j in range(len(stock_c)):
        if list_mid[i] == vix_b2_list[j][2]:
            globals()['dis_list_'+str(i)].append(vix_b2_list[j])

In [25]:
def Top1(L) :
    L.sort()
    return L[-1]
print(Top1(dis_list_0))

['한컴라이프케어', 6300.0, '의료장비 및 서비스']

In [26]:
def Top2(L) :
    L.sort()
    return L[-2]
print(Top2(dis_list_0))

['에스디바이오센서', 36125.0, '의료장비 및 서비스']

In [27]:
def Top3(L) :
    L.sort()
    return L[-3]
print(Top3(dis_list_0))

['신흥', 15025.0, '의료장비 및 서비스']

In [28]:
for i in range(len(list_mid)):
    print(Top1(globals()['dis_list_'+str(i)]))
    print(Top2(globals()['dis_list_'+str(i)]))
    print(Top3(globals()['dis_list_'+str(i)]))

['한컴라이프케어', 6300.0, '의료장비 및 서비스']
['에스디바이오센서', 36125.0, '의료장비 및 서비스']
['신흥', 15025.0, '의료장비 및 서비스']
['환인제약', 17650.0, '제약 및 바이오']
['현대약품', 5330.0, '제약 및 바이오']
['한올바이오파마', 15425.0, '제약 및 바이오']

In [29]:
Top3_0 = []
Top3_1 = []
Top3_2 = []
Top3_3 = []
Top3_4 = []

for i in range(len(list_mid)):
    a = Top1(globals()['dis_list_'+str(i)])
    globals()['Top3_'+str(i)].append(a)
    b = Top2(globals()['dis_list_'+str(i)])
    globals()['Top3_'+str(i)].append(b)
    c= Top3(globals()['dis_list_'+str(i)])
    globals()['Top3_'+str(i)].append(c)

In [30]:
Top3_name_0 =[]
Top3_name_1 =[]
Top3_name_2 =[]
Top3_name_3 =[]
Top3_name_4 =[]
for i in range(len(list_mid)):
    for j in range(len(Top3_1)):
        sn = globals()['Top3_'+str(i)][j][0]
        globals()['Top3_name_'+str(i)].append(sn)

In [230]:
print(Top3_name_0)
print(Top3_name_1)
print(Top3_name_2)
print(Top3_name_3)

['참엔지니어링', '일진디스플레이', '금호전기']
['해성디에스', '한미반도체', '한국전자홀딩스']
['현대오토에버', '텔코웨어', '크래프톤']
['휴니드테크놀러지스', '한솔테크닉스', '하이트론씨스템즈']

In [238]:
# stc_name_1=list_mid[0]
# stc_name_1
# stc_name_2=list_mid[1]
# stc_name_2
# stc_name_3=list_mid[2]
# stc_name_3
# stc_name_4=list_mid[3]
# stc_name_4
# stc_name_5=list_mid[4]
# stc_name_5

for i in range(len(list_mid)):
    globals()['stc_name_'+str(i)] = list_mid[i]}

In [267]:
dict =[]
for i in range(len(list_mid)):
    a = {list_mid[i]: globals()['Top3_name_'+str(i)]}
    dict.append(a)

In [268]:
print(dict)

[{'디스플레이': ['참엔지니어링', '일진디스플레이', '금호전기']}, {'반도체': ['해성디에스', '한미반도체', '한국전자홀딩스']}, {'소프트웨어': ['현대오토에버', '텔코웨어', '크래프톤']}, {'하드웨어': ['휴니드테크놀러지스', '한솔테크닉스', '하이트론씨스템즈']}]

In [269]:
recom_dict = {"mid_recommend": dict} 
print(recom_dict)

{'mid_recommend': [{'디스플레이': ['참엔지니어링', '일진디스플레이', '금호전기']}, {'반도체': ['해성디에스', '한미반도체', '한국전자홀딩스']}, {'소프트웨어': ['현대오토에버', '텔코웨어', '크래프톤']}, {'하드웨어': ['휴니드테크놀러지스', '한솔테크닉스', '하이트론씨스템즈']}]}

In [270]:
import json

recommend_json = json.dumps(recom_dict, indent=4,ensure_ascii=False)
print(recommend_json)

{
    "mid_recommend": [
        {
            "디스플레이": [
                "참엔지니어링",
                "일진디스플레이",
                "금호전기"
            ]
        },
        {
            "반도체": [
                "해성디에스",
                "한미반도체",
                "한국전자홀딩스"
            ]
        },
        {
            "소프트웨어": [
                "현대오토에버",
                "텔코웨어",
                "크래프톤"
            ]
        },
        {
            "하드웨어": [
                "휴니드테크놀러지스",
                "한솔테크닉스",
                "하이트론씨스템즈"
            ]
        }
    ]
}